<app-content>
  <app-title>Updating Data</app-title>
  <ag-grid-angular
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    rowSelection="multiple"
  >
  </ag-grid-angular>
  <p>
    <button (click)="onSetRowData()">Set Row Data</button>
    <button (click)="onAddRow()">Add Row</button>
    <button (click)="onRemoveSelectedRows()">Remove Selected Rows</button>
    <button (click)="onUpdateRowData()">Update Row Data</button>
  </p>
</app-content>
