<div class="container">
  <div class="menu">
    <ul>
      <li>
        Getting Started
        <ul>
          <li><a routerLink="/getting-started/sorting">Sorting</a></li>
          <li><a routerLink="/getting-started/filtering">Filtering</a></li>
          <li>
            <a routerLink="/getting-started/grid-api">Grid API</a>
          </li>
          <li>
            <a routerLink="/getting-started/column-api">Column API</a>
          </li>
          <li>
            <a routerLink="/getting-started/row-selection">Row Selection</a>
          </li>
        </ul>
      </li>
      <li>
        Data
        <ul>
          <li><a routerLink="/data/simple">Simple</a></li>
          <li><a routerLink="/data/async">Async Data Binding</a></li>
          <li><a routerLink="/data/value-getter">Value Getter</a></li>
          <li><a routerLink="/data/cell-rendering">Cell Rendering</a></li>
          <li><a routerLink="/data/updating">Updating Data</a></li>
          <li><a routerLink="/data/delta">Delta (deprecated)</a></li>
          <li><a routerLink="/data/immutable">Immutable</a></li>
          <li><a routerLink="/data/infinite">Infinite Row Model</a></li>
        </ul>
      </li>
      <li>
        Columns
        <ul>
          <li><a routerLink="/column/default">Default Definition</a></li>
          <li><a routerLink="/column/types">Types</a></li>
          <li><a routerLink="/column/moving">Moving</a></li>
          <li><a routerLink="/column/sizing">Sizing</a></li>
          <li><a routerLink="/column/pinning">Pinning</a></li>
        </ul>
      </li>
      <li>
        Filtering
        <ul>
          <li><a routerLink="/filtering/searching">Searching</a></li>
          <li><a routerLink="/filtering/number">Number Filter</a></li>
          <li><a routerLink="/filtering/text">Text Filter</a></li>
          <li><a routerLink="/filtering/date">Date Filter</a></li>
          <li><a routerLink="/filtering/floating">Floating Filter</a></li>
        </ul>
      </li>
      <li>
        Rows
        <ul>
          <li><a routerLink="/rows/sorting">Sorting</a></li>
          <li><a routerLink="/rows/dragging">Dragging</a></li>
          <li><a routerLink="/rows/spanning">Spanning</a></li>
          <li><a routerLink="/rows/pinning">Pinning</a></li>
          <li><a routerLink="/rows/height">Height</a></li>
          <li><a routerLink="/rows/full-width">Full Width</a></li>
        </ul>
      </li>
      <li>
        Syling
        <ul>
          <li><a routerLink="/styling/cell">Cell Styling</a></li>
          <li><a routerLink="/styling/row">Row Styling</a></li>
          <li><a routerLink="/styling/themes">Themes</a></li>
          <li><a routerLink="/styling/css-overrides">CSS Overrides</a></li>
        </ul>
      </li>
      <li>
        Cell Editing
        <ul>
          <li><a routerLink="/editing/default">Default Editor</a></li>
          <li><a routerLink="/editing/editors">Provided Editors</a></li>
          <li><a routerLink="/editing/value-parser">Value Parser</a></li>
          <li><a routerLink="/editing/value-setter">Value Setter</a></li>
          <li><a routerLink="/editing/saving-data">Saving Data</a></li>
        </ul>
      </li>
      <li>
        Custom Components
        <ul>
          <li><a routerLink="/components/filter">Filter</a></li>
          <li><a routerLink="/components/renderer">Renderer</a></li>
          <li><a routerLink="/components/editor">Editor</a></li>
          <li><a routerLink="/components/header">Header</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
