<div class="header">
  <div class="displayName">{{ displayName }}</div>
  <div *ngIf="enableSorting" class="sort">
    <a
      *ngIf="isSortDescending() || isSortNone()"
      (click)="onSort('asc', $event)"
      class="sort-asc"
      disableRipple="true"
      mat-icon-button
    >
      <mat-icon>arrow_drop_up</mat-icon>
    </a>
    <a
      *ngIf="isSortAscending()"
      (click)="onSort('desc', $event)"
      class="sort-desc"
      disableRipple="true"
      mat-icon-button
    >
      <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <a
      (click)="onSort('', $event)"
      class="sort-none"
      disableRipple="true"
      mat-icon-button
    >
      <mat-icon>clear</mat-icon>
    </a>
  </div>
</div>
