.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .sort {
    .sort-asc,
    .sort-desc,
    .sort-none {
      width: auto;
    }

    .sort-none {
      .mat-icon {
        font-size: 12px;
      }
    }
  }
}
