<app-content>
  <app-title>Row Selection</app-title>
  <ag-grid-angular
    #agGrid
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged()"
    rowSelection="multiple"
  >
  </ag-grid-angular>

  <p>Total: {{ total | async | currency }}</p>
</app-content>

<!-- [suppressRowClickSelection]="true" -->
<!-- [rowDeselection]="true" -->
<!-- [rowMultiSelectWithClick]="true" -->
<!-- rowSelection="multiple" -->
