.row-highlight {
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.row-danger {
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

// .ag-row-hover {
//   background-color: #fff3cd !important;
//   border-color: #ffeeba !important;
// }
