h1,
h2,
h3 {
  &::after {
    content: '';
    width: 200px;
    height: 2px;
    background-color: #0084e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

h1::after {
  width: 200px;
}
h2::after {
  width: 100px;
}
h3::after {
  width: 80px;
}

h1 {
  font-weight: 300;
  margin: 20px auto 0;
  text-align: center;

  &::after {
    margin: 40px auto 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

h2,
h3 {
  font-weight: 300;
  margin: 60px auto;

  &::after {
    margin: 30px 0 60px;
  }
}

h1,
h2,
h3 {
  &.no-style {
    margin: 0;
    text-align: left;

    &::after {
      display: none;
    }
  }
}
